version: '3.9'

services:
  postgres:
    image: postgres:15.0-alpine3.16
    restart: always
    env_file: ./.env
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - '${DOCKER_DATABASE_PORT}:5432'
    environment:
      POSTGRES_USER: db_user
      POSTGRES_PASSWORD: db_password
      POSTGRES_DB: db_name
      TZ: 'GMT+8'
      PGTZ: 'GMT+8'
    networks:
      -  backend_starter_network


  redis:
    image: redis:5.0.6-alpine
    restart: always
    env_file: ./.env
    ports:
      - '${DOCKER_REDIS_PORT}:6379'
    networks:
      - backend_starter_network

networks:
  backend_starter_network:
    driver: bridge
